* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "sans-serif";
    font-size: 0.875rem;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
 }
.pre-content {
    padding-top: 4rem;
}

.content {
    padding: 0rem 1rem 0rem 1rem
}

.spanned {
    display: flex;
    align-items: center;
}

.app-drawer__content {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    overflow-y: unset;
}

.mdc-drawer-content--bottom-actions {
    margin: auto;
    margin-bottom: 1rem;
    color: var(--mdc-theme-error);
}


.mdc-fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.items-grid {
    display: grid;
    grid-template-columns: auto 0.95fr;
}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    html, body {
        font-size: 1rem;
    }

    .content {
        padding: 0rem 10rem 0 10rem
    }
    
    .mdc-touch-target-wrapper {
        position: fixed;
        right: 10rem;
        bottom: 5rem;
    }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {

 } */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {


 }  */